/*full page styles*/
body {
    margin: 0;
    max-width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Header and nav styling*/
header img {
    width: 100%;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: aliceblue;
}

nav:hover {
    cursor: pointer;
}

.menus {
    width: 100%;
    padding: 0;
}

.menus li {
    display: inline-block;
    width: 25%;
    text-align: center;
    text-overflow: wrap;
}

.mx-5 {
    position: relative;
    display: inline-block;
}

.dropdown {
    display: none;
    z-index: 90;
    position: absolute;
    min-width: 100%;
    padding: 0;
    
}

li .dropOpt {
    display: block;
    width: 100%;
    text-align: center;
    background-color: aliceblue;
}

.About:hover .aboutdown {
    display: block;
}

.Activities:hover .activdown {
    display: block;
}

.Booking:hover .bookdown {
    display: block;
}

/*Footer Styling*/
footer {
    background-color: rgb(60, 118, 60);
    height: 30px;
    bottom: 0;
    width: 100%;
}

/*page content styling*/
main {
    min-height: 200px;
    width: 100%;
    padding-bottom: 20px;
}
.pageOn {
 
}
/*homepage styling*/
.welcome{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.home{
    margin-bottom: 50px;
    margin-top: 50px;
}
.line1{
    margin-bottom: 0;
}
.line2{
    margin-top:0;
}
.bnbname{
    font-size: larger;
}
/*photo gallery*/
.wrapper {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1200px;
    max-height: 1200px;
    
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .gallery img {
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -52%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    transition: all .25s;}
    
    .gallery img:nth-child(7n + 1) {
      grid-column: 2 / span 2;
    }
    
    .gallery img:hover {
      z-index: 2;
      transform: scale(2);
    }
  
  
/*card page styling*/
.cardpg{
    display: inline-block;
    margin-left: 10%;
    width: 80%
}

.cardpgtitle *{
    display: inline;
    width: fit-content;
    padding: 10px;
}
.cardpgtitle{
    margin: 10px;
}
.card{
    box-shadow: 11px 10px 5px -5px rgba(0,0,0,0.2);
    min-height: 100px;
    background-color: lightgray;
    margin: 10px;
    width: 80%;
    display: flex;
}
.cardbody{
    padding: 10px
}
.card img{
    min-height: 100%;
    min-width: 50px;
    max-width: 25%;
    padding: 0;
    background-color: black;
    
}
.odd{
    float: left;
}
.even{
    float: right;
    justify-content: right;
}
.even .cardbody{
    text-align: right;
}

/*maps and hikes page styling*/
/*tours page styling*/
/*history page styling*/
/*calendar page styling*/
/*contact page styling*/
