body{
    margin: 0;
}
header img {
width: 100%;
}
nav {
width: 100%;
}
.menus {
    width: 100%;   
}
.menus li {
    display: inline-block;
    width: 25%;
    text-align: center;
    text-overflow: wrap;
}
.dropdown {
    display: none;
    z-index: 1;
}
.About:hover .aboutdown{
    display: block;
}
.Activities:hover .activdown{
    display: block;
}
.Booking:hover .bookdown{
    display: block;
}

footer{
    background-color: rgb(60, 118, 60);
    height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}