body{
    margin: 0;
    max-width: 100%;
}
header img {
width: 100%;
}
nav {
width: 100%;
position: sticky;
top: 0;
}
.menus {
    width: 100%;
    padding: 0;   
}
.menus li {
    display: inline-block;
    width: 25%;
    text-align: center;
    text-overflow: wrap;
}
.mx-5{
    position: relative;
    display: inline-block;
}
.dropdown {
    display: none;
    z-index: 1;
    position: absolute;
    min-width: 100%;
    padding: 0;
}
li .dropOpt{
    display: block;
    width: 100%;
    text-align: center;
}
.About:hover .aboutdown{
    display: block;
}
.Activities:hover .activdown{
    display: block;
}
.Booking:hover .bookdown{
    display: block;
}

footer{
    background-color: rgb(60, 118, 60);
    height: 30px;
    bottom: 0;
    width: 100%;
}
.pageOn{
    display: inline-block;
    margin-left: 10%;
    width: 80%
}
.card{
    border: 2px solid black;
    margin: 10px;
    padding: 3px;
}
.cardoddpic{
    float: right;
}
.cardevenpic{
    float: left;
}
main{
    min-height: 200px;
}